@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.snippet {
    width: 40%;
    margin: 12% auto;
}

.copy-to-clipboard-button {
    font-family: 'Oswald', sans-serif;
    margin-right: 0.1rem;
}