
body{
    background:#2E4A76;
    font-size: 18px;
}
/*
main > div{
    background-color: #FEF1DB;
    border-radius: 10px;
}*/

/*styling for title on sshTitle.html, dir_stru.html*/
.sshTitle{
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*styling for h2 on sshTitle.html, dir_stru.html*/
.sshH2{
    color: #F0623D; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: #F0623D; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*styling for main on sshTitle.html, dir_stru.html*/
.main1{
    max-width: 1232 00px;
    margin: 0 auto;
    padding: 50px 20px;
}

/*styling for image on sshTitle.html*/
img{
    max-width: 100%;
    height: auto;
    margin: 20px 5px;
}

/*styling for elements with p tag on sshTitle.html, dir_stru.html*/
p{
    color: #FEF1DB;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*styling for p elements with  sshSaple class on sshTitle.html*/
.sshSample{
    border-style: solid;
    border-color: #483037;
    background-color: #483037;
    border-radius: 3%;
    margin-left: 20px;
    margin-right: 190px;
  
}

/*styling for list items  on dir_stru.html*/
.liDirStru{
    color: #FEF1DB;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*styling for b tag with bTagDirStru class  on dir_stru.html*/
.bTagDirStru{
    
}
/************FOR THE COMMAND PAGE*************/
/* for the overall margins of the content*/
body{
    background-color: #2E4A76;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*changed the color and size of the title*/
h1{
    color: #FEF1DB;
    text-align: center;
    font-size: 50px;
    padding: 5%;
}
h2{
    color: #F0623D;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5%;
}
/*to color the font of the paragpraph*/
.p1{
    color: #FEF1DB;
    font-size: 20px;
    line-height: 2;
}
p{
    color: #FEF1DB;
    font-size: 20px;
    line-height: 2;
}
li{
    color: #FEF1DB;
    font-size: 20px;
    line-height: 2;
}
/*to put commands in a little "box"*/
.p2{
    border-color: #483037;
    border-style: solid;
    background-color: #483037;
    border-radius: 10px;
    padding: 10px;
    margin-right: 50%;
    font-family: 'Courier New', Courier, monospace;
    color: #FEF1DB;
    margin-left: 10%;
}
/*styling the footer*/
footer{
    background-color: #446dae;
    padding: 20px;
    margin-top: 5em;
}
/**************FOR THE PERMISSIONS PAGE**************/
/*making a grid to show part of the text in a box*/
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ee9a86;
    padding: 10px;
    margin-top: 3em;
}
.grid-item{
    border: 1px solid #F0623D;
    line-height: 1.5;
    background-color: #f78a6f;
    color: #483037;
    text-align: center;
    font-size: 20px;

}


/******STYLE FOR JUMP LINKS******/
.jumpLinks{
    position: sticky;
    display: inline-block;
    border: #F0623D solid 2px;
    padding-right: 30px;
}

.linksUl{
    list-style-type: none;
}

.linksUl li {
    position: relative;
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.linksUl li:after,
.linksUl li:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
}

.linksUl li::after {
    width: 0%;
    height: 0%;
    top: 0;
    left: -12px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.linksUl li:before {
    width: 0%;
    height: 0%;
    right: 15px;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.linksUl li:hover::before,
.linksUl li:hover::after {
    width: 10px;
    height: 10px;
    border-color: #F0623D;
}

.link{
    color: #FEF1DB;
    text-decoration: none;
    margin-right: 30px;


/*Style for text and iamge*/
.text-image{
    display: flex;
    flex-direction: row;
}
.text-image>*{
    width: 50%;
}
.text-image>img{
    object-fit: cover;


}
